<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#expenseModal" data-bs-backdrop="static" data-bs-keyboard="false">
    Add Transaction
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="expenseModal" tabindex="-1" aria-labelledby="expenseModalLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="expenseModalLabel">Expense Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <select class="form-select" aria-label="Default select example">
                  <option value="1">Expense</option>
                  <option value="2">Income</option>
                </select>
                <div class="mb-3">
                  <label for="expensePurpose" class="form-label">Purpose</label>
                  <input type="text" class="form-control" id="expensePurpose" aria-describedby="expenseHelp">
                  <div id="purposeHelp" class="form-text">Add Expense Purpose.</div>
                </div>
                <div class="mb-3">
                    <label for="expenseAmount" class="form-label">Amount</label>
                    <input type="text" class="form-control" id="expenseAmount">
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>