
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#expenseModal" data-bs-backdrop="static" data-bs-keyboard="false"
(click)="addData()">
    Add New Transaction
  </button>
  
<div class="row justify-content-center mt-50" class="col-auto">
<table class="table table-responsive">
    <thead>
      <tr>
        <td scope="col">S.N.</td>
        <td scope="col">CashFlow</td>
        <td scope="col">Purpose</td>
        <td scope="col">Amount</td>
        <td scope="col">Date</td>
        <td scope="col">Action</td>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="item.type == 'expense' ? 'table-danger' : 'table-success'" *ngFor="let item of userBalance; let i = index;">
        <td scope="row">{{i+1}}</td>
        <td>{{item.type}}</td>
        <td>{{item.description}}</td>
        <td>{{item.amount}}</td>
        <td>{{currentDate | date:'yyyy-MM-dd'}}</td>
        <td>
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#expenseModal" (click)="editTransaction(item)">Edit</button>
            <button type="button" class="btn btn-outline-danger" (click)="deleteTransaction(item)">Del</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  <!-- Modal -->
  <div class="modal fade" id="expenseModal" tabindex="-1" aria-labelledby="expenseModalLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="expenseModalLabel">Expense Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-transaction [IsNewTransaction]="isNewTransaction" (transactionAdded)="handleTransactionAdded()"></app-transaction>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>